<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Takeout Order</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Takeout Order</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="navbar-header">

            <!-- <a class="navbar-brand" href="#">Takeout Order</a> -->
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="/">Home</a></li> -->
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/user/add">Add Order <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/user/show">Show All Order<span class="sr-only">(current)</span></a>
              </li>
              <!-- <li><a href="/user/add">Add Order</a></li> -->
            </ul>
          </div>
    </nav>
    <div calss="container">
      {{{body}}}
    </div>

  </body>
</html>
