{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/show">
  <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Search Users By Name">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
